<div ng-controller="mainCtr">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="#home">首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#page">页面</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#admin">介绍</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about"> <i class="fa fa-th-list"></i>关于我们</a>
        </li>
    </ul>
    <div class="box">

    </div>
</div>